body{
    background-color: #DE1D22;
    font-family: 'Inter', sans-serif;
}

footer{
    background-color: black;
}

.imgedlp{
    width: 50px;
}

a{
    text-decoration: none;
    color: red;
}